.canvas-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.drawing-canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  touch-action: none; /* 防止在触摸设备上页面滚动 */
  background-color: white;
  border-radius: 4px;
}